# A decent default .gitignore
# Same as GitHub's at https://github.com/github/gitignore/blob/master/Python.gitignore
# except keeps /bin directory.

*.py[co]
*~

#Remove any possible files that will have personal settings info:
#If saving a settings file on public git, it should have <file_name>_ref,
#and be your settings files without sensitive info
dev.py
#prod.py
settings.py
client_secrets*
analytics*

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
var
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

#Translations
*.mo

#Mr Developer
.mr.developer.cfg